@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  overflow: auto;
  scroll-behavior: auto;
}

body {
  background: linear-gradient(0deg, #e79d9d, #799bd7);
  background-size: cover;
}

.highlight {
  stroke-width: 0.8;
  stroke: black;
  stroke-dasharray: 1.1;
  stroke-dashoffset: 5.5;
  animation: dashes 1s linear infinite;
}

@keyframes dashes {
  to {
    stroke-dashoffset: 1.1;
  }
}

.highlight:hover {
  cursor: pointer;
  stroke: limegreen;
}

.ludoBoardHome {
  animation: rotateBoard 30s linear infinite;
}

@keyframes rotateBoard {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.breathingAnim {
  animation: breathing 1s infinite;
}

@keyframes breathing {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.75;
  }
}